#content {
	margin:     auto;
	max-width:  72rem;
	padding:    2rem;

	p:not(.heading, #contentHeading, #cloneNotice p) {
		line-height: 2em;
	}

	a, a:visited {
		color: $textColour;
	}

	em {
		font-style:  normal;
		font-weight: bold;
	}

	span {
		&.code {
			background-color: $foregroundColour;
			border-radius:    0.25rem;
			font-family:      "Fira Mono", "monospace";
			padding:          0.25rem;

			a {
				font-weight: normal;
			}
		}

		&.small {
			font-size: 0.75em;
		}
	}

	p.heading, #contentHeading {
		font-family: "Martian Mono", "monospace";
	}

	#contentHeading {
		background-color: $foregroundColour;
		border-radius:    1rem;
		display:          block;
		font-size:        4em;
		font-weight:      bold;
		margin:           auto;
		margin-bottom:    1rem;
		padding:          1rem;
		text-align:       center;

		span.small {
			font-size: 0.5em;
		}
	}

	section:nth-of-type(even) p.heading {
		text-align: right;
	}

	section + section {
		margin-top: 1rem;
	}

	p.heading {
		font-size:           2em;
		font-weight:         bold;
		margin-bottom:       1rem;
		width:               100%;

		&::after {
			background-color: $textColour;
			border-radius:    0.125rem;
			content:          "";
			display:          block;
			height:           0.25rem;
			margin-top:       0.25rem;
			width:            100%;
		}
	}

	x-image {
		background-position: center;
		background-repeat:   no-repeat;
		display:             block;
		position:            relative;
		width:               100%;

		&:nth-of-type(odd) {
			margin-right: auto;
		}

		&:nth-of-type(even) {
			margin-left: auto;
		}

		img.blur {
			filter:   blur(1rem);
			position: absolute;
			z-index:  -1;
			width:           100%;
		}

		a {
			img {
				border-radius:   1rem;
				display:         block;
				image-rendering: pixelated;
				width:           100%;
			}
		}
	}

	#footnote {
		background-color: $foregroundColour;
		border-radius:    1rem;
		font-family:      "Martian Mono", "monospace";
		font-size:        0.75em;
		image-rendering:  pixelated;
		padding:          1rem;

		.separator {
			background-color: $textColour;
			height:           0.125rem;
			margin:           1rem auto;
			width:            100%;
		}

		#footnoteHeading {
			font-size:   2em;
			font-weight: bold;
		}

		img {
			display: block;
			margin:  auto;

			&.obfuscatedText {
				height: 1rem;
			}
		}

		table {
			border-collapse: collapse;

			tr {
				th, td {
					line-height: 2em;
				}

				th {
					text-align: left;

					&::before {
						content: "\00B7\0020";
					}
				}

				td {
					padding-left: 2rem;
				}
			}
		}
	}
}