@font-face {
	font-display: fallback;
	font-family:  "Fira Mono";
	src:          url("/font/FiraMono-Regular.woff2");
}

@font-face {
	font-display: fallback;
	font-family:  "Fira Mono";
	font-weight:  bold;
	src:          url("/font/FiraMono-Bold.woff2");
}
