@font-face {
	font-family: "Fira Mono";
	src:         url("/ttf/FiraMono-Regular.ttf");
}

@font-face {
	font-family: "Fira Mono";
	font-weight: bold;
	src:         url("/ttf/FiraMono-Bold.ttf");
}

@font-face {
	font-family: "Martian Mono";
	src:         url("/ttf/MartianMono-Regular.ttf");
}

@font-face {
	font-family: "Martian Mono";
	font-weight: bold;
	src:         url("/ttf/MartianMono-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	src:         url("/ttf/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-style:  italic;
	src:         url("/ttf/Montserrat-Italic.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-weight: bold;
	src:         url("/ttf/Montserrat-Bold.ttf");
}

@font-face {
	font-family: "Montserrat";
	font-style:  italic;
	font-weight: bold;
	src:         url("/ttf/Montserrat-BoldItalic.ttf");
}

@font-face {
	font-family: "Play";
	src:         url("/ttf/Play-Regular.ttf");
}

@font-face {
	font-family: "Play";
	font-weight: bold;
	src:         url("/ttf/Play-Bold.ttf");
}

@font-face {
	font-family: "Playfair Display";
	src:         url("/ttf/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display";
	font-weight: bold;
	src:         url("/ttf/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-family: "Playfair Display";
	font-style:  italic;
	src:         url("/ttf/PlayfairDisplay-Italic.ttf");
}

@font-face {
	font-family: "Playfair Display";
	font-style:  italic;
	font-weight: bold;
	src:         url("/ttf/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
	font-family: "Raleway";
	src:         url("/ttf/Raleway-Regular.ttf");
}

@font-face {
	font-family: "Raleway";
	font-weight: bold;
	src:         url("/ttf/Raleway-Bold.ttf");
}

@font-face {
	font-family: "Raleway";
	font-style:  italic;
	src:         url("/ttf/Raleway-Italic.ttf");
}

@font-face {
	font-family: "Raleway";
	font-style:  italic;
	font-weight: bold;
	src:         url("/ttf/Raleway-BoldItalic.ttf");
}
