@font-face {
	font-display: fallback;
	font-family:  "Fira Mono";
	src:          url("/font/FiraMono-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Fira Mono";
	font-weight:  bold;
	src:          url("/font/FiraMono-Bold.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Martian Mono";
	src:          url("/font/MartianMono-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Martian Mono";
	font-weight:  bold;
	src:          url("/font/MartianMono-Bold.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Montserrat";
	src:          url("/font/Montserrat-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Montserrat";
	font-style:  italic;
	src:          url("/font/Montserrat-Italic.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Montserrat";
	font-weight:  bold;
	src:          url("/font/Montserrat-Bold.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Montserrat";
	font-style:  italic;
	font-weight:  bold;
	src:          url("/font/Montserrat-BoldItalic.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Playfair Display";
	src:          url("/font/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Playfair Display";
	font-weight:  bold;
	src:          url("/font/PlayfairDisplay-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Playfair Display";
	font-style:  italic;
	src:          url("/font/PlayfairDisplay-Italic.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Playfair Display";
	font-style:  italic;
	font-weight:  bold;
	src:          url("/font/PlayfairDisplay-BoldItalic.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Raleway";
	src:          url("/font/Raleway-Regular.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Raleway";
	font-weight:  bold;
	src:          url("/font/Raleway-Bold.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Raleway";
	font-style:  italic;
	src:          url("/font/Raleway-Italic.ttf");
}

@font-face {
	font-display: fallback;
	font-family:  "Raleway";
	font-style:  italic;
	font-weight:  bold;
	src:          url("/font/Raleway-BoldItalic.ttf");
}
