#footer {
	background-color: var(--foregroundColour);
	border-radius:    1rem;
	font-family:      $monospaceFont;
	margin-top:       1rem;
	padding:          1rem;
	text-align:       center;

	h1 {
		font-size:   2em;
		font-weight: bold;

		&::after {
			background-color: var(--textColour);
			border-radius:    $separatorWidth;
			content:          "";
			display:          block;
			height:           $separatorWidth;
			margin-bottom:    1rem;
			margin-top:       $separatorWidth;
			width:            100%;
		}
	}

	#cvrNumber {
		font-weight: bold;
	}

	#emailAddress {
		aspect-ratio:     183/8;
		background-color: var(--textColour);
		display:          block;
		image-rendering:  pixelated;
		margin:           auto;
		mask-image:       url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALcAAAAICAYAAAC78m4/AAAA80lEQVRYw+1YQQ7EIAiETf//ZfeyJqRRhAFN18rNEhGGAbFMRFRKKXTkyEbCzMyV2MzMUikJ39Pdv0d0VW/RIcXoicF6hgezXgxy7cWlZUNbe3LkiTvCF8uZo33d86yAZ+ruTo++WXQWcLy+oDY9MWTua9mJ5igaewbWHr7I9YV2rV5lZY04kS79L9fmjNg1u2+Ty0pUDTRZNXLUiRB/BqlnJB61iY4GKJ6WYtqtmXyswJafIEkczVyrBI1htU0UT80Pzc8n5Si9c9dZKaMrIA8SbZbyPFieIi08kXkevfFWEbSV9yiXvHzRztt6rj3y7l+BX5T3s/pA2wdgAAAAAElFTkSuQmCC");
		mask-position:    center;
		mask-repeat:      no-repeat;
		mask-size:        cover;
		max-height:       1em;
		max-width:        calc(183em / 8);
		width:            100%;
	}
}
