#footer {
	background-color: var(--foregroundColour);
	border-radius:    1rem;
	font-family:      "Martian Mono", "monospace";
	font-size:        0.75em;
	line-height:      1em;
	margin-top:       1rem;
	padding:          1rem;

	.separator {
		background-color: var(--textColour);
		border-radius:    0.125rem;
		height:           0.25rem;
		margin:           1rem auto;
		width:            100%;
	}

	#footerHeading {
		font-size:   2em;
		font-weight: bold;
	}

	.obfuscatedText {
		background-color: var(--textColour);
		height:           1rem;
		image-rendering:  pixelated;
		mask-position:    center;
		mask-repeat:      no-repeat;
		mask-size:        contain;
		width:            100%;
	}

	img {
		display: block;
		margin:  auto;
	}

	table {
		border-collapse: collapse;

		tr {
			th, td {
				line-height: 2em;
			}

			th {
				text-align: left;

				&::before {
					content: "\00B7\0020";
				}
			}

			td {
				padding-left: 2rem;
			}
		}
	}
}
