#header {
	$slideDuration: 0.5s;

	--hamburgerWidth: 2rem;

	border-bottom-left-radius:  1rem;
	border-bottom-right-radius: 1rem;
	height:                     calc(100vh + 1rem);
	overflow:                   hidden;
	position:                   relative;
	width:                      100%;

	@media (pointer: coarse) {
		--hamburgerWidth: 4rem;
	}

	a {
		cursor:                pointer;
		font-weight:           bold;
		text-decoration:       underline;
		text-decoration-color: #00000000;
		transition:            text-decoration-color 0.125s;
		user-select:           none;

		&:hover {
			text-decoration-color: var(--textColour);
		}
	}

	@import "banner";
	@import "sideMenu";
}
