#header {
	$gap: 1rem;

	--foregroundColour: var(--backgroundColour);
	--highlightColour:  var(--textColour);

	align-items:      center;
	background-color: var(--backgroundColour);
	background-size:  cover;
	box-shadow:       0 0 calc($padding / 2) $shadowColour;
	display:          flex;
	height:           100vh;
	image-rendering:  pixelated;
	justify-content:  center;
	overflow:         hidden;
	position:         relative;
	user-select:      none;
	width:            100%;

	#glyph {
		aspect-ratio:    1;
		display:         block;
		image-rendering: pixelated;
		object-fit:      contain;
		width:           50vmin;
	}

	@import "navBar";
}
