@import "fonts";

$achernarColour: #007B34;

$headerHeight:     calc(100vh + 1rem);
$navBarSlideDuration: 0.5s;

$shadow: 0 0 1rem color-mix(in srgb, black, transparent 75%);;

:root {
	font-family: "Raleway", "sans-serif";
}

* {
	margin:  0;
	padding: 0;

	box-sizing: border-box;
}

#body {
	background-color: var(--backgroundColour);
	color:            var(--textColour);
	z-index:          -1;

	&[data-theme = "Light"] {
		--backgroundColour: oklch(100%     0 0);
		--foregroundColour: oklch( 96.875% 0 0);
		--textColour:       oklch( 25%     0 0);
	}

	&[data-theme = "Dark"] {
		--backgroundColour: oklch( 20% 0.041075 270);
		--foregroundColour: oklch( 25% 0.041075 270);
		--textColour:       oklch(100% 0          0);
	}
}

ol, ul {
	list-style-type: none;
}

li p::before {
	content: "\2014\0020";
}

@import "header.scss";
@import "page.scss";
