#navBar {
	align-items:     center;
	display:         flex;
	height:          calc(2rem + var(--hamburgerHeight));
	justify-content: space-between;
	padding:         1rem;
	position:        absolute;
	top:             0;
	max-width:       $contentWidth;
	width:           100%;

	body[data-page = "achernar"] & {
		a, #home, #hamburger {
			mix-blend-mode: difference;
		}
	}

	section {
		display:         flex;
		flex:            1;
		gap:             1rem;
		justify-content: center;

		&:first-of-type {
			justify-content: start;
		}

		&:last-of-type {
			justify-content: end;
		}

		a {
			text-decoration-color: #00000000;

			@media not (prefers-reduced-motion) {
				transition: opacity $slideDuration, text-decoration-color 0.125s;
			}

			@media (orientation: portrait) or (pointer: coarse) {
				display: none;
			}

			&:hover {
				text-decoration-color: var(--textColour);
			}
		}

		#home {
			z-index: 255;
		}

		#hamburger {
			aspect-ratio:     1;
			background-color: var(--textColour);
			cursor:           pointer;
			height:           var(--hamburgerHeight);
			mask-image:       url("/svg/hamburger.svg");
			mask-size:        cover;
			z-index:          255;
		}
	}
}
