#navBar {
	$gap: 1rem;

	align-items:     center;
	display:         flex;
	height:          calc($gap * 2 + var(--hamburgerWidth));
	justify-content: space-between;
	padding:         $gap;
	position:        absolute;
	top:             0;
	width:           100%;

	section {
		display: flex;
		gap:     $gap;

		a {
			text-decoration-color: #00000000;
			transition:            opacity $slideDuration, text-decoration-color 0.125s;

			@media (orientation: portrait) or (pointer: coarse) {
				display: none;
			}

			&:hover {
				text-decoration-color: var(--textColour);
			}

			&.hidden:not(#home) {
				opacity:        0;
				pointer-events: none;
			}
		}
	}

	#hamburger {
		aspect-ratio:     1;
		background-color: var(--textColour);
		cursor:           pointer;
		mask-image:       url("/svg/hamburger.svg");
		mask-size:        cover;
		width:            var(--hamburgerWidth);
	}

	body[data-page = "achernar"] & {
		section a, #hamburger {
			mix-blend-mode: difference;
		}
	}
}
