#navigationBar {
	align-items:      center;
	background-color: #00000000;
	display:          flex;
	gap:              1rem;
	justify-content:  center;
	position:         absolute;
	top:              1rem;
	user-select:      none;
	width:            100%;
	z-index:          1;

	a, p {
		color:                 var(--pageHighlightColour);
		cursor:                pointer;
		font-weight:           bold;
		text-decoration:       underline;
		text-decoration-color: #00000000;
		transition:            text-decoration-color 0.125s;
		width:                 fit-content;

		&:hover {
			text-decoration-color: var(--pageHighlightColour);
			transition:            text-decoration-color 0.125s;
		}
	}

	#themeToggler {
		display:  block;
		left:     1rem;
		position: absolute;
	}

	.separator {
		background-color: var(--pageHighlightColour);
		border-radius:    0.125rem;
		height:           0.25rem;
		width:            1rem;
	}
}