#page {
	$padding: var(--padding);

	margin:    auto;
	max-width: $contentWidth;
	padding:   $padding;

	a, a:visited {
		cursor:          pointer;
		text-decoration: underline;
	}

	h1 {
		font-size:     2em;
		font-weight:   bold;
		margin-bottom: 1rem;
		width:         100%;

		&:nth-of-type(even) {
			text-align: right;
		}

		&::after {
			background-color: var(--textColour);
			border-radius:    $separatorWidth;
			content:          "";
			display:          block;
			height:           $separatorWidth;
			margin-bottom:    1rem;
			margin-top:       $separatorWidth;
			width:            100%;
		};
	}

	section {
		font-family: "Montserrat";
		line-height: 2em;
		max-width:   calc($contentWidth / 2 - $padding);
		text-align:  justify;
		width:       100%;

		&:nth-of-type(even) {
			margin-left: auto;

			ol, ul {
				margin-left: auto;
				text-align: left
			}
		}

		&.fullWidth {
			max-width: 100%;
		}

		& + h1 {
			margin-top: 1rem;
		}

		p.note {
			font-weight: bold;
			text-align:  center;

			&::before {
				content: "Note:\0020";
			}
		}

		code {
			$padding: 0.25rem;

			background-color: var(--foregroundColour);
			border-radius:    $padding;
			padding:          $padding;
		}

		em {
			font-style:  normal;
			font-weight: bold;
		}

		ul {
			background-color: var(--foregroundColour);
			border-radius:    1rem;
			padding:          1rem;
			text-align:       left;
			width:            100%;
		}

		div.codeblock {
			background-color: var(--textColour);
			border-radius:    1rem;
			color:            var(--backgroundColour);
			font-family:      $monospaceFont;
			line-height:      normal;
			padding:          1rem;
			white-space:      preserve;
		}
	}

	x-image {
		display: block;
		position:relative;
		width:   100%;

		&:nth-of-type(odd) {
			margin-right: auto;
		}

		&:nth-of-type(even) {
			margin-left: auto;
		}

		img.blur {
			filter:   blur(1rem) saturate(200%);
			position: absolute;
			width:    100%;
		}

		a {
			position: relative;

			img {
				border-radius:   1rem;
				display:         block;
				image-rendering: pixelated;
				width:           100%;
			}
		}
	}

	@import "footer";
}
