@use "../base" as *;

footer {
	padding:     $gap;
	padding-top: 0;

	#socials {
		$gap: 1rem;

		align-items:     center;
		display:         flex;
		gap:             $gap;
		justify-content: center;

		a {
			aspect-ratio:     1;
			background-color: $textColour;
			display:          block;
			image-rendering:  pixelated;
			mask-size:        cover;
			width:            2rem;

			&[id = "s.bluesky"] {
				mask-image: url("/image/social/bluesky.webp");
			}

			&[id = "s.facebook"] {
				mask-image: url("/image/social/facebook.webp");
			}

			&[id = "s.gitHub"] {
				mask-image: url("/image/social/gitHub.webp");
			}

			&[id = "s.gitLab"] {
				mask-image: url("/image/social/gitLab.webp");
			}

			&[id = "s.instagram"] {
				mask-image: url("/image/social/instagram.webp");
			}

			&[id = "s.linkedIn"] {
				mask-image: url("/image/social/linkedIn.webp");
			}

			&[id = "s.linktree"] {
				mask-image: url("/image/social/linktree.webp");
			}

			&[id = "s.mastodon"] {
				mask-image: url("/image/social/mastodon.webp");
			}

			&[id = "s.pinterest"] {
				mask-image: url("/image/social/pinterest.web");
			}

			&[id = "s.reddit"] {
				mask-image: url("/image/social/reddit.webp");
			}

			&[id = "s.threads"] {
				mask-image: url("/image/social/threads.webp");
			}

			&[id = "s.tikTok"] {
				mask-image: url("/image/social/tikTok.webp");
			}

			&[id = "s.x"] {
				mask-image: url("/image/social/x.webp");
			}

			&[id = "s.youTube"] {
				mask-image: url("/image/social/youTube.webp");
			}
		}
	}
}
